#ob_ad_manager table
{
  width: 100%;
  border-collapse: collapse;
}

#ob_ad_manager table th
{
  border-bottom: 1px solid #999;
}

#ob_ad_manager table td
{
  border-bottom: 1px solid #999;
  padding: 6px 0;
}

#ob_ad_manager h2
{
  margin-top: 21px;
}

#ob_ad_manager_upcoming
{
  margin-bottom: 21px;
}

#ob_ad_manager .ob_ad_manager_start, #ob_ad_manager .ob_ad_manager_stop
{
  width: 175px;
}

#ob_ad_manager .ob_ad_manager_media
{
  width: 275px;
}
